.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    z-index: 1000;
    max-height: 80vh;       /* не выше 80% высоты экрана */
    width: 700px;           /* фиксированная ширина или можно % */
    overflow-y: auto;       /* вертикальный скролл при переполнении */
}

.lecture-text {
    width: 600px;
    height: 300px;
    resize: none;
}